@model ProductRegisterViewModel
@{
    ViewData["Title"] = "Register new produkt";
}

<div class="d-flex justify-content-center" style="padding-top:200px">
    <div class="col-6">

        <form enctype="multipart/form-data" method="post" asp-action="Register" novalidate>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="ArticleNumber" class="form-label"></label>
                <input asp-for="ArticleNumber" class="form-control" />
                <small><span asp-validation-for="ArticleNumber" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <small><span asp-validation-for="Name" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                <small><span asp-validation-for="Price" class="text-danger"></span></small>
            </div>         

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <small><span asp-validation-for="Description" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="Image" class="form-label"></label>
                <input asp-for="Image" class="form-control" />
                <small><span asp-validation-for="Image" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label>Tags </label>
                @foreach (SelectListItem tag in ViewBag.Tags)
                {
                    <div class="form-check">
                        <input id="tag-@tag.Text-@tag.Value" type="checkbox" name="Tags" value="@tag.Value" checked="@tag.Selected" class="form-check-input" />
                        <label for="tag-@tag.Text-@tag.Value" class="form-check-label">@tag.Text</label>
                    </div>
                }
            </div>


            <div class="mb-3">
                <label>Categories </label>
                @foreach (SelectListItem category in ViewBag.Categories)
                {
                    <div class="form-check">
                        <input type="checkbox" name="Categories" value="@category.Value" checked="@category.Selected" class="form-check-input" />
                        <label for="@category.Value" class="form-check-label">@category.Text</label>
                    </div>
                }
            </div>



            <div class="grid mt-2">
                <button type="submit" class="btn btn-success">CREATE</button>
            </div>

        </form>

    </div>
</div>
