@model GridCollectionItemModel

<a asp-controller="products" asp-action="details" asp-route-articleNumber="@Model.ArticleNumber" class="collection-item">
    <div class="image-container">
        <img src="@Model.ImageUrl" alt="@Model.Title">
        <p>
            @foreach (var tag in Model.Tags)
            {
                <span class="tag">@tag.TagName</span>
            }
        </p>
    </div>
    <div class="body">
        <div class="title">@Model.Title</div>
        <div class="info">
            <div class="price">$@Model.Price</div>
            <i class="add-cart fa-regular fa-cart-plus"></i>
        </div>
    </div>
</a>

