@model ProductDetailsViewModel
@{
    var product = await productService.GetProductByArticleNumberAsync(Model.Product.ArticleNumber);
}

@if (Model.Product != null)
{
    <section class="productdetail" style="margin-top:60px">
        <div class="container">
            <div class="images">
                <img src="~/images/products/@product.ImageUrl" alt="@product.Name" height="430px" width="501px">
                <img class="small1" src="~/images/products/@product.ImageUrl" alt="@product.Name" height="113px" width="120px">
                <img class="small" src="~/images/products/@product.ImageUrl" alt="@product.Name" height="113px" width="120px">
                <img class="small" src="~/images/products/@product.ImageUrl" alt="@product.Name" height="113px" width="120px">
                <img class="small" src="~/images/products/@product.ImageUrl" alt="@product.Name" height="113px" width="120px">
            </div>
            <div class="productinfo">
                <h1>@product.Name</h1>
                <p class="ingress">@product.Description</p>
                <div class="stars">
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                </div>
                <p class="price">@product.Price</p>
                <div class="buttons">
                    <button class="plus-minus-btn">
                        <span class="plus-minus-symbol">-</span>
                        <span class="number-symbol">1</span>
                        <span class="plus-minus-symbol">+</span>
                    </button>
                    <button class="btn-theme">Add to Cart <i class="fa-regular fa-cart-arrow-down"></i></button>
                </div>
                <div class="status">
                    <p class="red"></p>
                    <p class="yellow"></p>
                    <p class="turquoise"></p>
                    <p class="SKU">SKU: N/A</p>
                </div>
                <div class="btn-white">
                    <button>Add to wishlist</button>
                </div>
                <div class="category">Category: </div>
            </div>
        </div>
    </section>
}

else
{
    <p>The product could not be found.</p>
}


